{% extends 'accounts/base.html' %} {% block title %} Sign Up! - Scrumptious
Recipes {%endblock title %} {% block content %}
<header>
  <nav>
    <a href="{% url 'home' %}">Main page</a>
  </nav>
</header>
<main>
  <h1>Login</h1>
  <div>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>Login</button>
    </form>
  </div>
</main>
{% endblock content %}
