{% extends 'receipts/base.html' %} {% block content %}
<h1>Accounts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Number of Receipts</th>
    </tr>
  </thead>
  <tbody>
    {% for account in accounts %}
    <tr>
      <td>{{ account.name }}</td>
      <td>{{ account.number }}</td>
      <td>{{ account.receipt_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
