{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="" />
    {% block extra_head %}
    <!-- Additional head elements can be included here -->
    <link rel="stylesheet" href="{% static 'css/receipts.css' %}" />
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          {% if user.is_authenticated %}
          <li id="welcome-message">Welcome back {{ user.username }}!</li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
          <li><a href="{% url 'create_category' %}">Create Category</a></li>
          <li><a href="{% url 'category_list' %}">Category List</a></li>
          <li><a href="{% url 'account_list' %}">Account List</a></li>
          <li><a href="{% url 'create_account' %}">Create Account</a></li>
          {% endif %}
          <!-- Add more links as needed -->
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}
      <!-- Main content will be injected here -->
      {% endblock %}
    </main>

    <footer>
      <p>&copy; 2024 Django Two Shot</p>
    </footer>

    <script src=""></script>
    {% block extra_scripts %}
    <!-- Additional scripts can be included here -->
    {% endblock %}
  </body>
</html>
