{% extends 'receipts/base.html' %} {% block content %}
<h1>Expense Categories</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Receipts</th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr>
      <td>{{ category.name }}</td>
      <td>{{ category.receipt_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
